@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Roboto', sans-serif,'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
}

body {
  height: 100vh;
  background: url('~/src/assets/bg.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
